<div #image class="example-box"
     [style.top.px]="posX"
     [style.left.px]="posY"
     cdkDrag [id]="id" (click)="move()" (cdkDragStarted)="move()" (cdkDragEnded)="dragComplete($event)">
  <ngx-barcode6
    class="barcode-uu"
    bc-format="CODE128"
    [bc-value]="text"
    [bc-height]="height"
    [bc-width]="width"
    style="display: block; width: 100%; height: 100%"
    [bc-display-value]="false">
  </ngx-barcode6>
  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
  <div class="close-handle" (click)="destroy()">
   <span class="material-icons">
     clear
   </span>
  </div>
</div>
