<nz-card nzTitle="Text Editor">
  <div nz-form>
    <nz-form-item>
      <nz-form-control style="text-align: center !important;">
        <nz-form-label>Preview</nz-form-label>
        <h1 class="example-box" [ngStyle]="
    {
    'font-size': fontSize+'px',
    'font-weight': fontWeight,
     'font-style': fontStyle,
     'text-decoration': decorate ? 'underline' : 'none'
     }" cdkDrag>
          {{text}}
        </h1>
      </nz-form-control>
    </nz-form-item>
    <div class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Text</nz-form-label>
            <input nz-input [(ngModel)]="text" type="text">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Font Size</nz-form-label>
            <input nz-input [(ngModel)]="fontSize"  type="number" width="50">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Font Weight</nz-form-label>
            <nz-select style="width: 100%" placeholder="Font Weight" [(ngModel)]="fontWeight">
              <nz-option *ngFor="let item of weight" [nzValue]="item" [nzLabel]="item"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Font Style</nz-form-label>
            <nz-select style="width: 100%" placeholder="Font Style" [(ngModel)]="fontStyle">
              <nz-option *ngFor="let item of style" [nzValue]="item" [nzLabel]="item"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Use As Input ?</nz-form-label>
            <nz-switch [(ngModel)]="useAsInput"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-8">
        <nz-form-item *ngIf="useAsInput">
          <nz-form-control>
            <nz-form-label>Input Label</nz-form-label>
            <input nz-input [(ngModel)]="inputName" type="text">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Underline ?</nz-form-label>
            <nz-switch [(ngModel)]="decorate"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Has Mapping ?</nz-form-label>
            <nz-switch [(ngModel)]="hasmapping"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div *ngIf="hasmapping === true">
      <nz-form-item>
        <nz-form-control>
          <nz-form-label>Mapping Type</nz-form-label>
          <nz-select style="width: 100%" placeholder="Map Type" [(ngModel)]="mappinType">
            <nz-option *ngFor="let item of options" [nzValue]="item" [nzLabel]="item"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-form-label>Mapped Column</nz-form-label>
          <nz-select style="width: 100%" placeholder="Mapped Column" [(ngModel)]="mappedColumnName" nzMode="multiple">
            <nz-option *ngFor="let item of selectedFieldnames" [nzValue]="item" [nzLabel]="item"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <button nzSize="small" nz-button (click)="close()" nzType="primary" class="m-r-10">Apply</button>
    <button nzSize="small" nz-button (click)="endEdit()" nzType="primary">End Edit</button>
  </div>
</nz-card>
