<div class="page-header">
  <div class="d-flex justify-content-between">
    <div class="row">
      <div class="col">
        <nz-button-group>
          <button [disabled]="newTemplate" nz-button nz-tooltip nzTooltipTitle="menu" nzType="primary" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" [nzBackdrop]="false">
            <i nz-icon [nzType]="'form'" nzTheme="outline"></i>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="openTemplate()">New Template</li>
            </ul>
          </nz-dropdown-menu>
          <ng-container *ngFor="let control of mainControls">
            <ng-container *ngIf="control.handle === false">
              <button nz-tooltip nzTooltipTitle="{{control.tooltip}}" nz-button nzType="primary" [disabled]="!printimage" nz-popconfirm nzPopconfirmTitle="Are you sure you want to proceed to print?" nzOkText="ok" nzCancelText="cancel" (nzOnConfirm)="print(printer)" (nzOnCancel)="cancel()">
                <i nz-icon [nzType]="control.icon" nzTheme="outline"></i>
              </button>
              <button [hidden]="true" printSectionId="printsection" ngxPrint [useExistingCss]="true" #printer>
              </button>
            </ng-container>
            <ng-container *ngIf="control.handle !== false">
              <ng-container *ngIf="control.hasElement">
                <button nz-button nz-tooltip nzTooltipTitle="{{control.tooltip}}" (click)="control.handle(photo)" nzType="primary" [disabled]="control.disabled">
                  <i nz-icon [nzType]="control.icon" nzTheme="outline"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="!control.hasElement">
                <button nz-button nz-tooltip nzTooltipTitle="{{control.tooltip}}" (click)="control.handle()" nzType="primary" [disabled]="control.disabled">
                  <i nz-icon [nzType]="control.icon" nzTheme="outline"></i>
                </button>
              </ng-container>
            </ng-container>
          </ng-container>
          <button nz-button nz-tooltip nzTooltipTitle="process for printing" [disabled]="list.length === 0" nzType="primary" (click)="printStuff()">
            <i nz-icon nzType="caret-right" nzTheme="outline"></i>
          </button>
        </nz-button-group>
        <nz-button-group class="m-l-20">
          <ng-container *ngFor="let control of elementsControls">
            <ng-container *ngIf="control.handle !== false">
              <ng-container *ngIf="control.hasElement">
                <button nz-button nz-tooltip nzTooltipTitle="{{control.tooltip}}" (click)="control.handle(photo)" nzType="primary" [disabled]="control.disabled">
                  <i nz-icon [nzType]="control.icon" nzTheme="outline"></i>
                </button>
              </ng-container>
              <ng-container *ngIf="!control.hasElement">
                <button nz-button nz-tooltip nzTooltipTitle="{{control.tooltip}}" (click)="control.handle()" nzType="primary" [disabled]="control.disabled">
                  <i nz-icon [nzType]="control.icon" nzTheme="outline"></i>
                </button>
              </ng-container>
            </ng-container>
          </ng-container>
        </nz-button-group>
        <input type="file" (change)="onFileChange($event)" #photo nz-input hidden>
        <nz-button-group class="m-l-20">
          <button nz-tooltip nzTooltipTitle="{{controls.tooltip}}" nz-button *ngFor="let controls of textControls" (click)="controls.handle()" [disabled]="controls.disabled" nzType="primary">
            <ng-container *ngIf="controls.hasIcon">
              <i nz-icon [nzType]="controls.icon" nzTheme="outline"></i>
            </ng-container>
            <ng-container *ngIf="!controls.hasIcon">
              <span>{{controls.text}}</span>
            </ng-container>
          </button>
        </nz-button-group>
      </div>
    </div>
   <div>
     <nz-input-group nzCompact>
       <input nz-tooltip nzTooltipTitle="current item position on the x axis" type="text" nz-input value="X: {{xposition}}" style="width: 20%;" readonly />
       <input nz-tooltip nzTooltipTitle="current item position on the y axis" type="text" nz-input value="Y: {{yposition}}" style="width:20%;" readonly />
     </nz-input-group>
   </div>
    <h1>{{templatename}} Template
    </h1>
  </div>
</div>
<nz-spin [nzSpinning]="loading">
  <div class="container-fluid">
    <div class="row m-t-10">
      <div class="col-2">
        <nz-card nzTitle="Available Templates">
          <button nz-button nzBlock nzType="primary" class="m-b-20" *ngFor="let item of templates" (click)="selectTemp(item.name)">
            {{item.name}}
          </button>
        </nz-card>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <nz-spin [nzSpinning]="processing">
              <div [ngStyle]="{'background-image': 'url('+bgimage+')'}" class="example-boundary grid-bg">
                <div style="position: absolute; top: 0; bottom: 0; left: 0;right: 0; z-index: 999;" [ngStyle]="{'display': edit? 'none':'block'}" id="disableOverlay"></div>
                <div class="example-boundary" id="printsection">
                  <template #textcontainer></template>
                </div>
              </div>
            </nz-spin>
          </div>
        </div>
        <div class="row m-t-120">
          <div class="col-12">
            <img id="printhere" [src]="printimage" style="width: 100%; height: 100%;" hidden/>
          </div>
        </div>
      </div>
      <div class="col-4">
        <template #setupcontainer></template>
      </div>
    </div>
  </div>
  <nz-drawer [nzVisible]="visible" nzPlacement="right" nzTitle="Search" (nzOnClose)="close()" [nzMask]="false" [nzWidth]="400">
   <form [formGroup]="searchForm">
     <nz-form-item *ngFor="let item of searchParams">
       <nz-form-control>
         <nz-form-label>{{item.param}}</nz-form-label>
         <input nz-input formControlName="{{item.field}}" type="text">
       </nz-form-control>
     </nz-form-item>
   </form>
    <button nz-button nzType="primary" [disabled]="searchForm.invalid" (click)="searchQueryParams()" nzSearch><i nz-icon nzType="search"></i> Search</button>
    <ng-container *ngFor="let item of dataSource">
      <nz-form-control>
        <nz-form-label>{{item.field}}</nz-form-label>
        <input nz-input [value]="item.value" type="text" readonly>
      </nz-form-control>
    </ng-container>
    <button nz-button nzType="primary" (click)="Apply()" *ngIf="dataSource.length > 0">Apply</button>
  </nz-drawer>
</nz-spin>
