<div class="page-header">
  <h1>Reprint Requests</h1>
</div>
<nz-card>
  <div class="d-flex justify-content-between">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <table mat-table matSort multiTemplateDataRows class="bordered" [dataSource]="dataSource" width="100%">
    <ng-container matColumnDef="subtable">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let elemant">
        <i style="font-size: 20px" *ngIf="!elemant.show" (click)="toggleRow(elemant)" nz-icon [nzType]="'plus-circle'" [nzTheme]="'twotone'"></i>
        <i style="font-size: 20px" *ngIf="elemant.show" (click)="toggleRow(elemant)" nz-icon [nzType]="'minus-circle'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb0e0a'"></i>
      </td>
    </ng-container>
    <ng-container matColumnDef="ReceiptNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Receipt Number</th>
      <td mat-cell *matCellDef="let ele">{{ele.cardPrint.receiptNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="User">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
      <td mat-cell *matCellDef="let ele">{{ele.user}}</td>
    </ng-container>
    <ng-container matColumnDef="Reason">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason</th>
      <td mat-cell *matCellDef="let ele">{{ele.reason}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let ele">
        <button nz-button (click)="approve(ele.id)" nzSize="small" nzType="primary">approve</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button (click)="disapprove(ele.id)" nzSize="small" nzType="primary">disapprove</button>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let item" [attr.colspan]="displayedColumns.length">
        <div class="child-table-div">
          <table mat-table [dataSource]="item.data"  style="width: 100%" matSort class="bordered">
            <ng-container matColumnDef="field">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Field</th>
              <td mat-cell *matCellDef="let elemant">{{elemant.queryFields.columnName}}</td>
            </ng-container>
            <ng-container matColumnDef="value">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
              <td mat-cell *matCellDef="let elemant">
                {{formateDate(elemant.queryFieldValue)}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="mainColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: mainColumns;"></tr>
          </table>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="element-row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" style="overflow: hidden"
        align="center" [hidden]="!row.show"></tr>
  </table>
</nz-card>
