<div class="page-header">
  <h1>Settings
  </h1>
  <div class="row">
    <div class="col">
      <form nz-form [formGroup]="form" [nzLayout]="'inline'">
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Server</nz-form-label>
            <input nz-input formControlName="server" placeholder="server" type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Catalog</nz-form-label>
            <input nz-input formControlName="catalog" placeholder="catalog" type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>User</nz-form-label>
            <input nz-input formControlName="user" placeholder="user" type="text">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <nz-form-label>Pass</nz-form-label>
            <input nz-input formControlName="pass" placeholder="password" type="password">
          </nz-form-control>
        </nz-form-item>
        <div class="m-t-40">
          <button nz-button (click)="savedb()" nzType="primary" class="m-r-10">Save & Connect</button>
          <button nz-button (click)="form.reset()" nzType="primary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<nz-spin [nzSpinning]="loading">
  <nz-card hidden>
    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <h1 style="text-align: center">Main Table</h1>
          <button nz-button nzType="primary" (click)="getTables()" class="m-r-10">Refresh Table List</button>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Table List</nz-form-label>
              <nz-select [(ngModel)]="tablename" [nzShowSearch]="true">
                <nz-option *ngFor="let item of TableList" [nzValue]="item" [nzLabel]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <button nz-button nzType="primary" (click)="getFields()" class="m-r-10">Refresh Field List</button>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Field List</nz-form-label>
              <nz-select [(ngModel)]="selectedFieldnames" [nzShowSearch]="true" nzMode="multiple">
                <nz-option *ngFor="let item of FieldList" [nzValue]="item" [nzLabel]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Primary Key</nz-form-label>
              <nz-select [(ngModel)]="primaryKey" [nzShowSearch]="true">
                <nz-option *ngFor="let item of selectedFieldnames" [nzValue]="item" [nzLabel]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Search Field</nz-form-label>
              <nz-select [(ngModel)]="searchField" [nzShowSearch]="true">
                <nz-option *ngFor="let item of selectedFieldnames" [nzValue]="item" [nzLabel]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Has Dependant Fields ?</nz-form-label>
            <nz-switch [(ngModel)]="hasDependant"></nz-switch>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Use Dependant Fields ?</nz-form-label>
            <nz-switch [(ngModel)]="useDependantFields"></nz-switch>
          </nz-form-item>
          <button nz-button nzType="primary" class="m-r-10" (click)="generateQuery()">Generate Query</button>
        </div>
        <div class="col-3" *ngIf="hasDependant">
          <h1 style="text-align: center">Dependant Table</h1>
          <button nz-button nzType="primary" (click)="getDependantTables()" class="m-r-10">Refresh Table List</button>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Table List</nz-form-label>
              <nz-select [(ngModel)]="Depentdanttablename" [nzShowSearch]="true">
                <nz-option *ngFor="let item of TableList2" [nzValue]="item" [nzLabel]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <button nz-button nzType="primary" (click)="getDependantFields()" class="m-r-10">Refresh Field List</button>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Field List</nz-form-label>
              <nz-select [(ngModel)]="DependantselectedFieldnames" [nzShowSearch]="true" nzMode="multiple">
                <nz-option *ngFor="let item of FieldList2" [nzValue]="item" [nzLabel]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Foreign Key</nz-form-label>
              <nz-select [(ngModel)]="DependantForeignKey" [nzShowSearch]="true">
                <nz-option *ngFor="let item of DependantselectedFieldnames" [nzValue]="item" [nzLabel]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Dependant Search Field</nz-form-label>
              <nz-select [(ngModel)]="DependantsearchField" [nzShowSearch]="true">
                <nz-option *ngFor="let item of DependantselectedFieldnames" [nzValue]="item" [nzLabel]="item"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <button nz-button nzType="primary" class="m-r-10" (click)="generateQuery()">Generate Query</button>
        </div>
        <div class="col-3">
          <h1 style="text-align: center">Query</h1>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Generate Query</nz-form-label>
              <textarea rows="4" nz-input [(ngModel)]="generatedQuery" readonly></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Custom Query</nz-form-label>
              <textarea rows="4" nz-input [(ngModel)]="customQuery"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-3">
          <h1 style="text-align: center">Configurations</h1>
        </div>
      </div>
    </div>
  </nz-card>
  <nz-card>
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <nz-form-label>Query Constants</nz-form-label>
          <nz-input-group nzCompact>
            <nz-select [(ngModel)]="constant" [nzShowSearch]="true" style="width: 90%">
              <nz-option *ngFor="let item of Constants" [nzValue]="item" [nzLabel]="item"></nz-option>
            </nz-select>
            <button nz-button nzType="primary" (click)="addConstToQuery()" style="width: 10%">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </nz-input-group>
          <nz-divider></nz-divider>
          <nz-form-label>Table List</nz-form-label>
          <nz-input-group nzCompact>
            <button nz-button nzType="primary" (click)="getTables()" style="width: 10%">
              <i nz-icon nzType="reload" nzTheme="outline"></i>
            </button>
            <nz-select [(ngModel)]="tablename" [nzShowSearch]="true" style="width: 80%">
              <nz-option *ngFor="let item of TableList" [nzValue]="item" [nzLabel]="item"></nz-option>
            </nz-select>
            <button nz-button nzType="primary" (click)="addTableToQuery()" style="width: 10%">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </nz-input-group>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Use Table Alias ?</nz-form-label>
              <nz-switch [(ngModel)]="useTableAlias"></nz-switch>
            </nz-form-control>
          </nz-form-item>
          <div *ngIf="useTableAlias">
            <nz-form-label>Select Alias</nz-form-label>
            <nz-input-group nzCompact>
              <nz-select [(ngModel)]="fieldAlias" [nzShowSearch]="true" style="width: 80%" (ngModelChange)="aliasChange()">
                <nz-option *ngFor="let item of AliasList" [nzValue]="item.alias" nzLabel="{{item.table}} AS {{item.alias}}"></nz-option>
              </nz-select>
            </nz-input-group>
            <nz-form-label>Map Table Alias</nz-form-label>
            <nz-input-group nzCompact>
              <input nz-input [(ngModel)]="tableAlias" type="text" style="width: 90%">
              <button nz-button nzType="primary" (click)="addtoAlias()" style="width: 10%" *ngIf="tableAlias">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
              </button>
            </nz-input-group>
          </div>
          <nz-divider></nz-divider>
          <nz-form-label>Field List</nz-form-label>
          <nz-input-group nzCompact>
            <button nz-button nzType="primary" (click)="getFields()" style="width: 10%">
              <i nz-icon nzType="reload" nzTheme="outline"></i>
            </button>
            <nz-select [(ngModel)]="selectedFieldnames" [nzShowSearch]="true" nzMode="multiple" style="width: 80%">
              <nz-option *ngFor="let item of FieldList" [nzValue]="item" [nzLabel]="item"></nz-option>
            </nz-select>
            <button nz-button nzType="primary" (click)="addFieldsToQuery()" style="width: 10%">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </nz-input-group>
          <nz-divider></nz-divider>
          <nz-form-label>Search Field</nz-form-label>
          <nz-input-group nzCompact>
            <nz-select [(ngModel)]="searchField" [nzShowSearch]="true" style="width: 90%">
              <nz-option *ngFor="let item of selectedFieldnames" [nzValue]="item" [nzLabel]="item"></nz-option>
            </nz-select>
            <button nz-button nzType="primary" (click)="addSearchParam()" style="width: 10%">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </nz-input-group>
        </div>
        <div class="col-8">
          <nz-button-group>
            <button nz-button nzType="primary" (click)="undoAction()">
              undo action
            </button>
            <button nz-button nzType="primary" (click)="addValue()">
              add comma
            </button>
          </nz-button-group>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Generated Query</nz-form-label>
              <textarea rows="10" nz-input [(ngModel)]="generatedQuery"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Selected Fields</nz-form-label>
              <div>
                <nz-tag *ngFor="let item of finalSearchFieldList" [nzColor]="'geekblue'" nzMode="closeable" (nzOnClose)="removeField(item.columnName)">
                  {{item.columnName}}
                </nz-tag>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label>Query Param</nz-form-label>
              <div>
                <nz-tag *ngFor="let item of searchFieldList" [nzColor]="'geekblue'" nzMode="closeable" (nzOnClose)="removeParam(item.param)">
                  {{item.param}}
                </nz-tag>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" (click)="saveQuery()">Save Query</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </nz-card>
</nz-spin>
