<div class="page-header">
  <h1>Settings
  </h1>
</div>
<nz-card>
  <nz-tabset>
    <nz-tab nzTitle="Add Database Connection">
      <nz-spin [nzSpinning]="realloading">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <form nz-form [formGroup]="form">
                <nz-form-item>
                  <nz-form-control>
                    <nz-form-label>Description</nz-form-label>
                    <input nz-input formControlName="name" placeholder="name" type="text">
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-form-label>Server</nz-form-label>
                    <input nz-input formControlName="server" placeholder="server" type="text">
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-form-label>Catalog</nz-form-label>
                    <input nz-input formControlName="catalog" placeholder="catalog" type="text">
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-form-label>User</nz-form-label>
                    <input nz-input formControlName="user" placeholder="user" type="text">
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control>
                    <nz-form-label>Pass</nz-form-label>
                    <input nz-input formControlName="pass" placeholder="password" type="password">
                  </nz-form-control>
                </nz-form-item>
                <div class="m-t-40">
                  <button nz-button (click)="savedb()" nzType="primary" class="m-r-10">Save & Connect</button>
                  <button nz-button (click)="form.reset()" nzType="primary">Reset</button>
                </div>
              </form>
            </div>
            <div class="col-md-8">
              <div class="d-flex justify-content-between">
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
              <table mat-table [dataSource]="dataSource" style="width: 100%" matSort class="bordered">
                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                  <td mat-cell *matCellDef="let elemant">{{elemant.name}}</td>
                </ng-container>
                <ng-container matColumnDef="Current">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Current</th>
                  <td mat-cell *matCellDef="let elemant">
                    <label nz-checkbox [(ngModel)]="elemant.current" [disabled]="true"></label>
                  </td>
                </ng-container>
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let elemant">

                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </div>
      </nz-spin>
    </nz-tab>
    <nz-tab nzTitle="Database Mapping View">
      <nz-spin [nzSpinning]="loading">
        <div class="container-fluid">
          <div class="row">
            <div class="col-4">
              <nz-form-label>Query Constants</nz-form-label>
              <nz-input-group nzCompact>
                <nz-select [(ngModel)]="constant" [nzShowSearch]="true" style="width: 90%">
                  <nz-option *ngFor="let item of Constants" [nzValue]="item" [nzLabel]="item"></nz-option>
                </nz-select>
                <button nz-button nzType="primary" (click)="addConstToQuery()" style="width: 10%">
                  <i nz-icon nzType="plus" nzTheme="outline"></i>
                </button>
              </nz-input-group>
              <nz-divider></nz-divider>
              <nz-form-label>Table List</nz-form-label>
              <nz-input-group nzCompact>
                <button nz-button nzType="primary" (click)="getTables()" style="width: 10%">
                  <i nz-icon nzType="reload" nzTheme="outline"></i>
                </button>
                <nz-select [(ngModel)]="tablename" [nzShowSearch]="true" style="width: 80%">
                  <nz-option *ngFor="let item of TableList" [nzValue]="item" [nzLabel]="item"></nz-option>
                </nz-select>
                <button nz-button nzType="primary" (click)="addTableToQuery()" style="width: 10%">
                  <i nz-icon nzType="plus" nzTheme="outline"></i>
                </button>
              </nz-input-group>
              <nz-form-item>
                <nz-form-control>
                  <nz-form-label>Use Table Alias ?</nz-form-label>
                  <nz-switch [(ngModel)]="useTableAlias"></nz-switch>
                </nz-form-control>
              </nz-form-item>
              <div *ngIf="useTableAlias">
                <nz-form-label>Select Alias</nz-form-label>
                <nz-input-group nzCompact>
                  <nz-select [(ngModel)]="fieldAlias" [nzShowSearch]="true" style="width: 80%" (ngModelChange)="aliasChange()">
                    <nz-option *ngFor="let item of AliasList" [nzValue]="item.alias" nzLabel="{{item.table}} AS {{item.alias}}"></nz-option>
                  </nz-select>
                </nz-input-group>
                <nz-form-label>Map Table Alias</nz-form-label>
                <nz-input-group nzCompact>
                  <input nz-input [(ngModel)]="tableAlias" type="text" style="width: 90%">
                  <button nz-button nzType="primary" (click)="addtoAlias()" style="width: 10%" *ngIf="tableAlias">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                  </button>
                </nz-input-group>
              </div>
              <nz-divider></nz-divider>
              <nz-form-label>Field List</nz-form-label>
              <nz-input-group nzCompact>
                <button nz-button nzType="primary" (click)="getFields()" style="width: 10%">
                  <i nz-icon nzType="reload" nzTheme="outline"></i>
                </button>
                <nz-select [(ngModel)]="selectedFieldnames" [nzShowSearch]="true" nzMode="multiple" style="width: 80%">
                  <nz-option *ngFor="let item of FieldList" [nzValue]="item" [nzLabel]="item"></nz-option>
                </nz-select>
                <button nz-button nzType="primary" (click)="addFieldsToQuery()" style="width: 10%">
                  <i nz-icon nzType="plus" nzTheme="outline"></i>
                </button>
              </nz-input-group>
              <nz-divider></nz-divider>
              <nz-form-label>Search Field</nz-form-label>
              <nz-input-group nzCompact>
                <nz-select [(ngModel)]="searchField" [nzShowSearch]="true" style="width: 90%">
                  <nz-option *ngFor="let item of selectedFieldnames" [nzValue]="item" [nzLabel]="item"></nz-option>
                </nz-select>
                <button nz-button nzType="primary" (click)="addSearchParam()" style="width: 10%">
                  <i nz-icon nzType="plus" nzTheme="outline"></i>
                </button>
              </nz-input-group>
            </div>
            <div class="col-8">
              <nz-button-group>
                <button nz-button nzType="primary" (click)="undoAction()">
                  undo action
                </button>
                <button nz-button nzType="primary" (click)="addValue()">
                  add comma
                </button>
              </nz-button-group>
              <nz-form-item>
                <nz-form-control>
                  <nz-form-label>Generated Query</nz-form-label>
                  <textarea rows="10" nz-input [(ngModel)]="generatedQuery"></textarea>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <nz-form-label>Selected Fields</nz-form-label>
                  <div>
                    <nz-tag *ngFor="let item of finalSearchFieldList" [nzColor]="'geekblue'" nzMode="closeable" (nzOnClose)="removeField(item.columnName)">
                      {{item.columnName}} ({{item?.alias}})
                      <i nz-icon nzType="plus" nzTheme="outline" nz-tooltip nzTooltipTitle="update alias" (click)="updateAlias(item.columnName)" style="padding-left: 5px; padding-right: 5px; color: #7b7b7b; cursor: pointer"></i>
                    </nz-tag>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <nz-form-label>Query Param</nz-form-label>
                  <div>
                    <nz-tag *ngFor="let item of searchFieldList" [nzColor]="'geekblue'" nzMode="closeable" (nzOnClose)="removeParam(item.param)">
                      {{item.param}}
                    </nz-tag>
                  </div>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary" (click)="saveQuery()">Save Query</button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </nz-spin>
    </nz-tab>
  </nz-tabset>
</nz-card>

