<nz-card>
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(total | number)!" [nzTitle]="'Total Cards Printed'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="((today | number)!) ? today : 0" [nzTitle]="'Cards Printed (TODAY)'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(reprintTotal | number)!" [nzTitle]="'Total Cards Reprinted'"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(reprintToday | number)!" [nzTitle]="'Total Cards Reprinted (TODAY)'"></nz-statistic>
    </nz-col>
  </nz-row>
</nz-card>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <nz-card>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h2 class="m-b-0">CARDS PRINTED THIS WEEK</h2>
            <p class="m-b-0 text-muted">{{WeekNumber}}</p>
          </div>
          <div>
            <nz-tag [nzColor]="'cyan'">{{todayDate | amDateFormat: 'LL'}}</nz-tag>
          </div>
        </div>
        <div class="m-t-50" style="height: 360px">
          <canvas ngChartjs
                  [datasets]="ChartData"
                  [labels]="ChartLabel"
                  [options]="ChartOptions"
                  [colors]="ChartColors"
                  [legend]="true"
                  [chartType]="'bar'">
          </canvas>
        </div>
      </nz-card>
    </div>
    <div class="col-md-4">
     <nz-card>
       <div class="d-flex justify-content-between align-items-center">
         <div>
           <h2 class="m-b-0">PRINT & REPRINT TOTALS</h2>
           <p class="m-b-0 text-muted">{{WeekNumber}}</p>
         </div>
         <div>
           <nz-tag [nzColor]="'cyan'">{{todayDate | amDateFormat: 'LL'}}</nz-tag>
         </div>
       </div>
       <div class="m-t-50" style="height: 360px">
         <canvas ngChartjs
                 [data]="doughnutChartData"
                 [labels]="doughnutChartLabels"
                 [chartType]="doughnutChartType"
                 [colors]="doughnutChartColors">
         </canvas>
       </div>
     </nz-card>
    </div>
  </div>
</div>
